<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <title>欧欧眼保仪 - 后台管理中心</title>
    <link href="__PUBLIC__/css/admin/reset.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/css/admin/zh-cn-system.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/css/admin/table_form.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin/style/zh-cn-styles1.css" title="styles1" media="screen">
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/css/admin/style/zh-cn-styles2.css" title="styles2" media="screen">
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/css/admin/style/zh-cn-styles3.css" title="styles3" media="screen">
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/css/admin/style/zh-cn-styles4.css" title="styles4" media="screen">
    <script type="text/javascript" src="__PUBLIC__/js/admin/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/admin/jquery.cookie.js"></script>
</head>
<body width="100%">
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a class="add fb" href="__MODULE__/Equipment/add"><em>添加新设备</em></a>
        <a class="add fb" href="__MODULE__/Equipment/check_activation"><em>激活设备</em></a>
        <a class="add fb" href="__MODULE__/Equipment/check_unactivation"><em>取消激活设备</em></a>　　　　
        <a class="on" href="__MODULE__/Equipment/index"><em>设备管理</em></a>　
    </div>
</div>
<style type="text/css">
    html{_overflow-y:scroll}
    .pagelist{ text-align:center; background:#f1f1f1; padding:7px 0;}
    .pagelist a{ margin:0 5px; border:#6185a2 solid 1px; display:inline-block; padding:2px 6px 1px; line-height:16px; background:#fff; color:#6185a2;}
    .pagelist span{ margin:0 5px; border:#6185a2 solid 1px; display:inline-block; padding:2px 6px 1px; line-height:16px; color:#6185a2; color:#fff; background:#6185a2;}
</style>
<div class="pad-lr-10">
    <form name="myform" action="__CONTROLLER__/listorder" method="post" id="myform" >
        <div class="btn">
            终端概况
        </div>
        <div class="table-list">
            <table width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>设备数量</th>
                    <th>激活数量</th>
                    <th>激活比例</th>
                    <th>服务用户数</th>
                    <th>测试总次数</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td align="center"><?php echo $count['all_num']; ?></td>
                    <td align="center"><?php echo $count['activation_num']; ?></td>
                    <td align="center"><?php if($count['activation_num']==0){echo "0.00%";}else{ echo round($count['activation_num']/$count['all_num'],2);} ?></td>
                    <td align="center"><?php echo $count['students']; ?></td>
                    <td align="center"><?php echo $count['vision_num']; ?></td>
                </tr>
                </tbody>
            </table>
            <div class="pagelist">{$page}</div>
        </div>

    </form>
</div>
<script type="text/javascript">
    $(function(){
        $(".delete").click(function( e ){
            _this = $(this);
            e.preventDefault();
            window.top.art.dialog({
                content:'确认删除该设备？',
                lock:true,
                width:'200',
                height:'50',
                cancel: true,
                ok: function () {
                    document.location.href = _this.attr('href');
                }
            });
        })
    })
</script>
</body>
</html>